@import "../css/mixins_variable.scss";
@import "../css/fonts.scss";
@import "../css/null.scss";
@import "../css/header";
@import "../css/footer";
@import "../css/main.scss";


.body {
    min-width: $maxWidth;
    width: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.header {

}

.main {
    flex: 1 1 auto;
}

.footer {

    bottom: 0;
    left: 0;
    width: 100%;
}