.main {
  background: linear-gradient(90deg, #F9F1E7 61%, #FCF8F3 32%);
}

.main-slider__wrapper {
  max-width: 100vw;
}
.main-slider__container {
  position: relative;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100vw;
}
@media (max-width: 991.98px) {
  .main-slider__container::before {
    content: "";
    background: #f9f1e7;
    position: absolute;
    top: 0;
    right: 376px;
    height: 100%;
    width: 100vw;
  }
}
.main-slider__body {
  padding-top: 140px;
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .main-slider__body {
    padding-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .main-slider__body {
    padding-top: 50px;
  }
}
@media (min-width: 991.98px) {
  .main-slider__body {
    display: flex;
  }
}
.main-slider__content {
  flex: 0 0 39.8387096774%;
}
.main-slider__slider {
  flex: 1 1 auto;
  min-width: 0;
}

.content-main {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.72);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1270px) {
  .content-main {
    padding-top: calc(15px + 45 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .content-main {
    padding-bottom: calc(15px + 45 * ((100vw - 320px) / 950));
  }
}
@media (min-width: 991.98px) {
  .content-main {
    padding: 60px;
  }
}
@media (min-width: 991.98px) and (max-width: 1270px) {
  .content-main {
    padding: calc(1px + 59 * ((100vw - 320px) / 950));
  }
}
@media (min-width: 991.98px) {
  @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
    .content-main {
      background: rgba(255, 255, 255, 0.9);
      -webkit-backdrop-filter: blur(31px);
              backdrop-filter: blur(31px);
    }
  }
}
.content-main__title {
  font-size: 56px;
  line-height: 120%;
  font-weight: 700;
}
@media (max-width: 1270px) {
  .content-main__title {
    font-size: calc(24px + 32 * ((100vw - 320px) / 950));
  }
}
.content-main__title:not(:last-child) {
  margin-bottom: 0.2857142857em;
}
.content-main__text {
  font-size: 20px;
  color: #898989;
  line-height: 150%;
  font-weight: 500;
}
@media (max-width: 1270px) {
  .content-main__text {
    font-size: calc(15px + 5 * ((100vw - 320px) / 950));
  }
}
.content-main__text:not(:last-child) {
  margin-bottom: 2.3em;
}
.content-main__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
  transition: all 0.4s ease 0s;
  background-color: #E89F71;
  color: white;
  width: 100%;
  font-weight: 600;
  min-height: 78px;
  font-size: 20px;
}
@media (max-width: 1270px) {
  .content-main__button {
    min-height: calc(45px + 33 * ((100vw - 320px) / 950));
  }
}
@media (max-width: 1270px) {
  .content-main__button {
    font-size: calc(16px + 4 * ((100vw - 320px) / 950));
  }
}
@media (any-hover: hover) {
  .content-main__button:hover {
    background-color: #c47d51;
  }
}

.slider-main__image {
  text-align: center;
}
.slider-main__image img {
  max-width: 100%;
}/*# sourceMappingURL=main.css.map */